<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chardhamyatra">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".WeatherYmActivity"
            android:exported="false" />
        <activity
            android:name=".WeatherGgActivity"
            android:exported="false" />
        <activity
            android:name=".WeatherBdActivity"
            android:exported="false" />
        <activity
            android:name=".WeatherKdActivity"
            android:exported="false" />
        <activity
            android:name=".WebYmActivity"
            android:exported="false" />
        <activity
            android:name=".WebGgActivity"
            android:exported="false" />
        <activity
            android:name=".WebBdActivity"
            android:exported="false" />
        <activity
            android:name=".WebKdActivity"
            android:exported="false" />
        <activity
            android:name=".GangotriMap"
            android:exported="false" />
        <activity
            android:name=".YamunotriMap"
            android:exported="false" />
        <activity
            android:name=".BadrinathMap"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB3BgvvAjBxJckGqZsJCbB2pNmwm00IGb4" />

        <activity
            android:name=".KedarnathMap"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".GgTravelActivity"
            android:exported="false" />
        <activity
            android:name=".YmTravelActivity"
            android:exported="false" />
        <activity
            android:name=".BdTravelActivity"
            android:exported="false" />
        <activity
            android:name=".KdTravelActivity"
            android:exported="false" />
        <activity
            android:name=".GGAttractActivity"
            android:exported="false" />
        <activity
            android:name=".YMAttractActivity"
            android:exported="false" />
        <activity
            android:name=".BDAttractActivity"
            android:exported="false" />
        <activity
            android:name=".KDAttractActivity"
            android:exported="false" />
        <activity
            android:name=".GangotriActivity"
            android:exported="false" />
        <activity
            android:name=".YamunotriActivity"
            android:exported="false" />
        <activity
            android:name=".BadrinathActivity"
            android:exported="false" />
        <activity
            android:name=".KedarnathActivity"
            android:exported="false" />
        <activity
            android:name=".CitiesActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>